# Line Endings, CRLF,LF.
## CSharp
*.cs text diff=csharp
*.xaml    text
*.csproj  text
*.sln     text
*.tt      text
*.ps1     text
*.cmd     text
*.msbuild text
*.md      text

*.js linguist-language=csharp
*.css linguist-language=csharp
*.html linguist-language=csharp
*.vb linguist-language=csharp
